logic-app/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "triggers": {
    "When_a_new_email_arrives_(V3)": {
      "type": "ApiConnectionNotification",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "fetch": {
          "pathTemplate": {
            "template": "/v3/Mail/OnNewEmail"
          },
          "method": "get",
          "queries": {
            "importance": "Any",
            "fetchOnlyWithAttachment": false,
            "includeAttachments": true,
            "folderPath": "Inbox"
          }
        },
        "subscribe": {
          "body": {
            "NotificationUrl": "@{listCallbackUrl()}"
          },
          "pathTemplate": {
            "template": "/GraphMailSubscriptionPoke/$subscriptions"
          },
          "method": "post",
          "queries": {
            "importance": "Any",
            "fetchOnlyWithAttachment": false,
            "folderPath": "Inbox"
          }
        }
      },
      "splitOn": "@triggerBody()?['value']"
    }
  },
  "actions": {
    "Compose_Email_Metadata": {
      "type": "Compose",
      "inputs": {
        "id": "@triggerBody()?['id']",
        "messageId": "@triggerBody()?['internetMessageId']",
        "subject": "@triggerBody()?['subject']",
        "body": "@triggerBody()?['body']",
        "bodyPreview": "@triggerBody()?['bodyPreview']",
        "from": "@triggerBody()?['from']",
        "toRecipients": "@triggerBody()?['toRecipients']",
        "receivedDateTime": "@triggerBody()?['receivedDateTime']",
        "importance": "@triggerBody()?['importance']",
        "conversationId": "@triggerBody()?['conversationId']",
        "hasAttachments": "@triggerBody()?['hasAttachments']",
        "internetMessageId": "@triggerBody()?['internetMessageId']"
      },
      "runAfter": {}
    },
    "Initialize_Attachments_Array": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "attachments",
            "type": "array",
            "value": []
          }
        ]
      },
      "runAfter": {
        "Compose_Email_Metadata": [
          "Succeeded"
        ]
      }
    },
    "For_Each_Attachment": {
      "type": "Foreach",
      "foreach": "@triggerBody()?['attachments']",
      "actions": {
        "Get_Attachment_(V2)": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "get",
            "path": "/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}/attachments/@{encodeURIComponent(items('For_Each_Attachment')?['id'])}"
          }
        },
        "Create_Blob": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "post",
            "body": "@base64ToBinary(body('Get_Attachment_(V2)')?['contentBytes'])",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
            "queries": {
              "folderPath": "/email-attachments/@{encodeURIComponent(triggerBody()?['id'])}",
              "name": "@body('Get_Attachment_(V2)')?['name']",
              "queryParametersSingleEncoded": true
            }
          },
          "runAfter": {
            "Get_Attachment_(V2)": [
              "Succeeded"
            ]
          }
        },
        "Append_Attachment_Info": {
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "attachments",
            "value": {
              "name": "@body('Get_Attachment_(V2)')?['name']",
              "contentType": "@body('Get_Attachment_(V2)')?['contentType']",
              "size": "@body('Get_Attachment_(V2)')?['size']",
              "blobPath": "email-attachments/@{encodeURIComponent(triggerBody()?['id'])}/@{body('Get_Attachment_(V2)')?['name']}"
            }
          },
          "runAfter": {
            "Create_Blob": [
              "Succeeded"
            ]
          }
        }
      },
      "runAfter": {
        "Initialize_Attachments_Array": [
          "Succeeded"
        ]
      },
      "runtimeConfiguration": {
        "concurrency": {
          "repetitions": 1
        }
      }
    },
    "Create_or_Update_Cosmos_Document": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['cosmosdb']['connectionId']"
          }
        },
        "method": "post",
        "body": {
          "id": "@{triggerBody()?['id']}",
          "messageId": "@{triggerBody()?['internetMessageId']}",
          "subject": "@{triggerBody()?['subject']}",
          "body": "@{triggerBody()?['body']}",
          "bodyPreview": "@{triggerBody()?['bodyPreview']}",
          "from": "@{triggerBody()?['from']}",
          "toRecipients": "@triggerBody()?['toRecipients']",
          "receivedDateTime": "@{triggerBody()?['receivedDateTime']}",
          "hasAttachments": "@triggerBody()?['hasAttachments']",
          "importance": "@{triggerBody()?['importance']}",
          "conversationId": "@{triggerBody()?['conversationId']}",
          "attachments": "@variables('attachments')",
          "processedAt": "@{utcNow()}"
        },
        "path": "/v2/cosmosdb/@{encodeURIComponent('AccountNameFromSettings')}/dbs/@{encodeURIComponent('email-parser-db')}/colls/@{encodeURIComponent('emails')}/docs",
        "headers": {
          "x-ms-documentdb-is-upsert": "True"
        }
      },
      "runAfter": {
        "For_Each_Attachment": [
          "Succeeded"
        ]
      }
    }
  },
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  }
}
